PRI/DTD/1_exame_especial2005.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT BIBLIOGRAPHY (BIBLIODIV) >
<!ELEMENT BIBLIODIV (TITLE,BIBLIOENTRY+)>
<!ELEMENT TITLE (#PCDATA) >
<!ELEMENT BIBLIOENTRY (TITLE,AUTHORGROUP) >
<!ELEMENT AUTHORGROUP (AUTHOR+) >
<!ELEMENT AUTHOR (FIRSTNAME,SURNAME) >
<!ATTLIST BIBLIOGRAPHY LANG CDATA #REQUIRED >
<!ATTLIST BIBLIOENTRY ID ID #REQUIRED >
<!ATTLIST BIBLIOENTRY XREFLABEL IDREF #REQUIRED >
<!ELEMENT FIRSTNAME (#PCDATA) >
<!ELEMENT SURNAME (#PCDATA) >