PRI/Exame_epoca_especial/bibliografia.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BIBLIOGRAPHY (BIBLIODIV+) >
<!ELEMENT BIBLIODIV (TITLE,BIBLIOENTRY+) >
<!ELEMENT TITLE (#PCDATA) >
<!ELEMENT BIBLIOENTRY (TITLE,AUTHORGROUP) >
<!ELEMENT AUTHORGROUP (AUTHOR+) >
<!ELEMENT AUTHOR (FIRSTNAME,SURNAME) >
<!ELEMENT FIRSTNAME (#PCDATA) >
<!ELEMENT SURNAME (#PCDATA) >
<!ATTLIST BIBLIOGRAPHY LANG CDATA #REQUIRED >
<!ATTLIST BIBLIOENTRY ID ID  #REQUIRED >
<!ATTLIST BIBLIOENTRY XREFLABEL IDREF  #REQUIRED >
